body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #ff0000, #000000);
}


header {
    background-color: #111;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.titulo {
    text-align: center;
  
}

h1 {
    padding: 25px;
    margin: 0;
}
header img {
    max-width: 200px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.box {
    flex: 1 1 calc(33.33% - 10px); 
            background-color: rgb(255, 255, 255);
            border: 1px solid #ccc;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
           height: 200px;
           align-items: center;
         
}
.box-content{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.box a {
    display: block;
    text-decoration: none;
    color: #333;
    align-items: center;
    position: relative;
    

}
.box a h3{
padding: 15px;
    margin: 0;
    margin-top: 50px;
}


.box a:hover {
    background-color: #ff0000;
}

img{
width: 50px;

}

